[project]
	description = [The project is on hold] A Puppet-based Vagrant VM suitable for instant and unified configuration of Drupal environments.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aleh Kot (alehkot)
[access "refs/for/refs/*"]
	read = group user/Aleh Kot (alehkot)
	push = group user/Aleh Kot (alehkot)
	label-Code-Review = -2..+2 group user/Aleh Kot (alehkot)
	label-Verified = -1..+1 group user/Aleh Kot (alehkot)
	rebase = group user/Aleh Kot (alehkot)
	removeReviewer = group user/Aleh Kot (alehkot)
	submit = group user/Aleh Kot (alehkot)
[access "refs/heads/*"]
	read = group user/Aleh Kot (alehkot)
	create = group user/Aleh Kot (alehkot)
	push = +force group user/Aleh Kot (alehkot)
	pushMerge = group user/Aleh Kot (alehkot)
[access "refs/tags/*"]
	push = group user/Aleh Kot (alehkot)
	push = +force group user/Aleh Kot (alehkot)
